.bio, .skills{
    margin: 10vh 0;
}

.bio img{ 
    width: 300px;
    height: 300px;
    background-color: rgb(179, 179, 179);
    display: block;
}

// Project Layout
.card{
    display:grid;
    grid-template-columns: repeat(19,1fr);
    grid-template-rows: auto;
    justify-items: center; 
    margin: 8vh 0;
    align-items: start;
}

.cardImg{
    min-width: 300px;
    width: 65%;
    height: 300px;
    background-color: rgb(179, 179, 179);
    grid-column: 1 / 10;
    grid-row: 1/ 5;
    justify-self: right;
}

.cardImg2 {
    grid-column: 11 / -1;
    justify-self: left;
}

.cardInfo {
    grid-column: 11 / -1;
    grid-row: 1/ 5;
    min-width: 300px;
    width: 65%;
    justify-self: start;
        h4{
            grid-row: 1/2;
        }
        p{
            grid-row: 2/4;
        }
        ul{
            grid-row: 4/5;
            padding: 0;
                li{
                    display: inline-block;
                    margin-right: 5%;
                }
        }
}

.cardInfo2{
    grid-column: 1/ 10 ;
    grid-row: 1/ 5;
    justify-self: end;
        h4, p, ul{
            text-align:right;
        }
}





