.bio, .skills{
    margin: 10vh 0;
}

.bio img{ 
    width: 300px;
    height: 300px;
    background-color: rgb(179, 179, 179);
    display: block;
}

// Project Layout
.card{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin: 4vh auto;
    grid-gap: 1.5vw;
}

.cardImg, .cardInfo{
    max-width: 480px;
    width: 80%;
    height: 30vh;
    min-height: 250px;
    background-color: rgb(179, 179, 179);
}

.cardInfo {
    background-color: inherit;
    justify-self: left;
        ul{
            padding: 0;
                li{
                    display: inline-block;
                    margin-right: 5%;
                }
        }
}

.card2>.cardInfo{
        h4, p, ul{
            text-align:right;
        }
}

.card>div:nth-child(1) {
    justify-self: right;
}

.card>div:nth-child(2) {
    justify-self: left;
}

// SVG's
.skills ul{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 4px;
    justify-content: center;
    padding:0;
}
.svgContainer {
    // border: 1px solid #999;
    justify-self:center;
    display: flex;
    max-height: 110px;
    max-width: 110px;
    height: calc(6vw);
    width: calc(6vw);
    min-height: 80px;
    min-width: 80px;
}
.svgHidden {
    display: none;
}

.svgIcon {
    // border: 1px solid #999;
    width: 90%;
    height: 90%;
    margin: auto;
    filter: grayscale(80%) ;
    transform: all;
}

.svgIconGitHub,
.svgIconReact,
.svgIconSASS,
.svgIconJS {
    filter: grayscale(80%) brightness(.8);
    transform: all;
}
.svgIconPS {
    filter: grayscale(80%) contrast(.7) brightness(1.1);
    transform: all;
}
.svgIconC1 {
    filter: grayscale(80%) brightness(.7) contrast(1.5) ;
    transform: all;
}

.svgIcon:hover {
    transition: all .3s ease-in;
    filter: unset;
}