
nav{
  align-self: start;
  padding-top: 15px;
  display: grid;
}

nav li{
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
}
// hide checkbox
nav input{
  display: none;
}

nav label{
  // border: 1px solid orange;
  justify-self: end;
  display: block;
  width: 44px;
  height: 44px;
  outline: none;
}

// hamburger... Menu built as elements for Animation
.hamburger{
  top: 45%;
  display:block;
  position: relative;  // margin: 40px 0 0 0;
  transition: transform 250ms ease-in-out;
  opacity: .5;
  display: none; //REWORK for small Screens
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 44px;
  height: 4px;
  background-color:  #d94c3b ; 
}
.hamburger::before,
.hamburger::after {
 content: ''; 
 position: absolute;
 left:0;
}
.hamburger::before{
  bottom: 10px;
}
.hamburger::after{
  top: 10px;
}

ul.menuSub {
    // border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    justify-content: end;
    width: 100%;
    margin-top: 2rem;
    gap: 1vw;
    transform: all;
    // opacity: 0; //Rework for SML Screen
    transform: all ;
      li { 
          text-align:right;
          text-transform: uppercase;
      }        
}

// displaying menuItems 
.navToggle:hover .hamburger{
  opacity: 1;
  transition: all .4s ease-in-out;
}
.navToggle:checked ~.menuSub {
    // visibility: visible;
    opacity: 1;
    transition: all .4s ease-in-out;
}


a:hover,
li:hover {
    transition: all .3s ease-in-out;
}

// ANIMATION
// ROTATING Hamburger, create X
.animatedNav .hamburger::after{
  transform: rotate(90deg) translate(-10px); 
}
.animatedNav .hamburger{
  transform: rotate(-45deg); 
}
.animatedNav .hamburger::before{
  opacity: 0;  //hide "third" extra element of hamburger
}
// end -----------------------------