html {
    font-size: 62.5%;
    line-height:1.5;
    height: 100%;
    width: 100%;
    // scroll-behavior: smooth;
}

*{
  // border: 1px solid red;
  margin:0;
  padding:0;
}

body {
    font-family: $primaryFont;
    font-size: 1.6rem; //base font size
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh; //full height backgrounds
    min-height: -webkit-fill-available; //fix for iphone menubar
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

// Wrapper
.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 88%;
}

// IMAGE - Removing white border
img {
  margin: 0;
  padding: 0;
  border: none;
}

//Fonts
h1 {
  font-weight: 700;   
  font-style: normal;
  font-size: calc(5rem + 2.3vw);   // large screen size/ font-size: 8.4rem;
  line-height: .8;
  text-transform: uppercase;
  color:white;
  text-shadow: 1px 2px 10px hsl(183, 34%, 86%);
  margin-top: 0;
    span{
      font-weight: 100;
      letter-spacing: .5rem;
      display: block;
      color:rgb(87, 87, 87);
    }
}

h2, p{
  font-family: $secondaryFont;
  font-weight: 200;
  font-size: 4.2rem;
  font-size: calc(1.8rem + 1.3vw);
  font-style: normal;
  color: rgb(87, 87, 87);
}

h3 {
  font-weight: 700; 
  font-size: 3rem;
  line-height: .5;
  text-transform: uppercase; 
}
.projectContainer>h3{
  padding-top: 4vh;
}

h4 {
  font-weight: 700; 
  font-size: 2.4rem;
  font-size: calc(2.2rem + .1vw);
  line-height: 1.5;
  text-transform: uppercase; 
}

h5 {
  font-size: 8rem;
  color:  black;
  font-weight: 100;
  letter-spacing: .5rem;      
  // display: block;
}

p, li, a{
  font-weight: 300;
  font-size: calc(1.5rem + .2vw);
  line-height: 1.6;
}

// LINK - Initial Cleanup
a, li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 400;
}
.card li{
    margin: 2vh 0 4vh 0;
}

// BUTTONS & Links
button{
  display: inline-block;
  list-style: unset;
  border:none;
  height: fit-content;
  width: fit-content;
  background-color: inherit;
}
div.formSubmit,
.card a {
  // border: 1px solid rgb(0, 30, 255);
  font-family: $primaryFont;
  font-weight: 500;
  padding:calc(.7rem + .2vw) calc(1rem + .3vw) ;
  border-radius: .4rem;
  background-color: $accentColor;
  color: #fff;
  text-transform: uppercase;
  width: 100px;
  display:block;
  text-align: center;
}
button a{
  display: inline-block;
  font-family: $primaryFont;
  font-weight: 500;
  padding:calc(.7rem + .2vw) calc(1rem + .3vw);
  border-radius: .4rem;
  border: 1px solid #2f95d08c;
  color: $coolAccentColor;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3.5vh
}
div .formSubmit{
    margin-top: calc( 1vh + 20px);
    margin-bottom: calc( 2vh + 25px);
        input{
            color: #fff;
            text-transform: uppercase;
            transform: translateY(-30%);
            height: 45px;
        }
}
.titleElements button a:hover,
div .formSubmit:hover,
div .formSubmit input:hover,
.card a:hover{
   background-color: $coolAccentColor;
   color: #fff;
}
// end buttons -----------------------

