@media(min-width: 1320px){
    .projectContainer .card {
        grid-template-columns: repeat(auto-fit, minmax(240px, 545px));
    }
    .card img:nth-child(2){
        // border: 2px solid rgb(13, 0, 255);
        height: 58%;
        bottom: 13.5%;
    }
    .cardImg2 img:nth-child(2),
    .cardImg3 img:nth-child(2){
        bottom: 19.5%;
    }

}

@media only screen and (max-device-width: 1319px) and (min-device-width: 1171px){
    .cardImg img:nth-child(2){
        // border: 2px solid red;
        bottom: 24%;
        height: 58%;
    }
}

@media(max-width: 1170px){
    .projectContainer .card {
        grid-template-columns: repeat(auto-fit, minmax(240px, 545px));
    }
    .card{
        max-width: 80vw;
    }
        .projectContainer h3{
        text-align: center;
    }

    .projectContainer{
        h4{
            line-height: 1.2;
            width: 85%;
            justify-self: center;
        }
    }

    div.card1{
        // border: 2px solid red;
        margin-top: 20px;
        padding-top: 0px;
    }


    .cardImg:nth-of-type(even) {
        grid-row: 1/ 2;
    }

    .card>div {
        margin: 0 auto;
            h4{
                padding: 0;
                text-align: center;
            }
    }

    .card2>.cardInfo{
            h4, p, ul{
                text-align:left;
            } 
            h4{
                text-align: center;
            }     
    }
    div.cardInfo {
        min-height: min-content; 
        height: max-content;
        max-height: fit-content;
        padding-bottom: 8%;
            h4 {
                margin: 2vh 0 0 0;
            }
            ul {
                display: flex;
                margin: auto;
                text-align: center;
            }
    }

    .cardInfo {
    background-color: inherit;
    justify-self: left;
    display: grid;
    align-content: center;
    padding-bottom: 20%;
        h4, p{
            padding: 2.5% 0;
        }
        ul{
            padding: 0;
                li{
                    display: inline-block;
                    margin-right: 5%;
                }
        }
    }
    div.cardInfo.info1 h4 {
        margin-top: 0vh;
    }

    .card2 .cardInfo ul {
	text-align: center;
    }
    
    .bioContainer {
        justify-items: center;
        max-width: 65ch;
        margin: auto;
        padding-top: calc(3vh + 20px);
            h3{
                margin-bottom: 0;
            }
            p:first-of-type {
                margin-top: calc(0vh + 10px);
            }
    }

    .skills ul{
        max-width: 510px;
        margin: 0 auto;
        margin-bottom: 4vh;
    }

}


@media (max-width: 600px), screen and (max-height: 475px) {
    // Top Menu Nav
    label .hamburger{
        display: block;
        margin-top: 20px;
        transform: all;
    }
    ul.menuSub {
        // opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        display:grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: space-around;
        padding: 15vh 0;
        background-color: rgba(255, 255, 255, 0.8);
            li { 
                text-align:center;
                // spacing... around projects
                &:nth-child(1){
                    margin-right: 0rem;
                }
                &:nth-child(3){
                    margin-right: 0rem;
                }  
      } 
    }
    nav{
        padding-left: 0;
    }
    .navToggle div{
        // opacity: 0;
        visibility: hidden;
    }

    .projectContainer{
        width:80%;
    }
    
    .homeContainer {
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(4, 1fr);
        padding: 4vh 0;
            nav{
                grid-column: 1 / -1;  
                align-self: start;
                max-width: 100%;
                grid-row: 1/2;
            }
            .titleElements {
                grid-column: 1 /-1;
                grid-row: 1/5;
                padding-top: 10vh;
                align-self:center;
            }
    }
    .projectContainer{
        // display: grid;
        margin: 0 auto;
        width: 100%;
    }
    .projSmlWrap{
        width: 100%;
    }
}

@media (max-width: 600px){
    footer .logo,
    .footerSocial,
    .pageNav{
        width: 100%;
        padding: 15px 0;
    }
    .pageNav{
        text-align: left;
        padding-left: 10px;
    }
    .projectContainer{
        // display: grid;
        margin: 0 auto;
        width: 100%;
    }
    .projSmlWrap{
        width: 85%;
    }
    .card3 {
        width: 85%;
    }

    .skills ul{
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 3vh;
    }
}
